.dash-content {
  margin: 5px;
  display: flex;

  .dash-button {
    width: 100%;
    min-width: 50px;
    min-height: 50px;
    justify-content: flex-start;
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    background: #dddeed;
    border-radius: 5px;

    font-size: 1.3rem;
    display: flex;
  }

  .text-button-container {
    display: flex;

    span {
      align-content: center;
    }

    .delete-icon-container {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      padding: 8px;
      margin-left: 5px;

      &:hover {
        background-color: #a1a1a1;
        filter: brightness(90%);
        border-radius: 8px;
      }
    }
  }

  .btn-disabled {
    filter: brightness(80%);
  }
}
