<div class="container">
  <div class="main-panel">
    <div class="main-content-panel">
      <poc-navigation-history
        #navigationHistory
        (onNavigationHistory)="navigateToHistory($event)"
      ></poc-navigation-history>

      <poc-add-update-dashboard
        #addUpdateDashboard
        [folderParentId]="folderParentId"
        (editModeChanged)="editModeChanged($event)"
        (addContentDetected)="adddDashboardContent($event)"
      ></poc-add-update-dashboard>

      <mat-divider></mat-divider>

      <div class="content-panel">
        <poc-dashboard-item
          class="dash-item"
          *ngFor="let item of dashboardContentList"
          [dashboardItem]="item"
          [disabled]="editMode"
          (onAccessContent)="accessContent($event)"
        ></poc-dashboard-item>
      </div>
    </div>
  </div>
</div>
