<div class="container">
  <div class="main-panel">
    <div class="main-content-panel">
      <poc-navigation-history
        #navigationHistory
        (onNavigationHistory)="navigateToHistory($event)"
      ></poc-navigation-history>
      <!-- <div class="filter-panel">filters</div> -->
      <div class="content-panel">
        <poc-dashboard-item
          class="dash-item"
          *ngFor="let item of dashboardContent"
          [dashboardItem]="item"
          (onAccessContent)="goToContent($event)"
        ></poc-dashboard-item>
      </div>
    </div>
  </div>
</div>
